services:
  db:
    image: postgres:15
    container_name: uniplus_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Password
      POSTGRES_DB: uniplus_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5
      timeout: 5s

  web:
    build: ./backend
    container_name: uniplus_web
    command: >
      sh -c "python manage.py makemigrations --noinput &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/code
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=uniplus_db
      - DB_USER=postgres
      - DB_PASSWORD=Password
      - N8N_FEEDBACK_SUMMARY_URL=http://n8n:5678/webhook/feedback-summary
    depends_on:
      db:
        condition: service_healthy

     
  pgadmin:
    image: dpage/pgadmin4
    container_name: uniplus_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
      
  n8n:
    image: n8nio/n8n
    container_name: uniplus_n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - GENERIC_TIMEZONE=Asia/Bangkok
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - db


volumes:
  db_data:
  n8n_data: